{% assign show_related_products = product.metafields.sf_related_products.show_related_products %}
{% assign related_product_size = 0 %}
{%- for i in (1..3) -%}
  {%- assign related_product_string = 'item_' | append: i -%}
  {% assign related_product = all_products[product.metafields.sf_related_products[related_product_string]] %}
  {% unless related_product.empty? %}
    {% assign related_product_size = related_product_size | plus: 1 %}
  {% endunless %}
{%- endfor -%}

{%- if show_related_products == 1 and related_product_size > 0 -%}
  {% assign default_title = 'products.general.related_products_title' | t %}
  {% assign title = product.metafields.sf_related_products.title | default: default_title %}

  <section class="section-related-products">
    <div class="shell">
      <header class="section__head">
        <h5 class="section__title">{{ title }}</h5><!-- /.section__title -->
      </header><!-- /.section__head -->

      <div class="section__body">
        <div class="products js-product-slider products__count-4">
          {%- for i in (1..4) -%}
            {%- assign related_product_string = 'item_' | append: i -%}
            {% assign related_product = all_products[product.metafields.sf_related_products[related_product_string]] %}
            {% unless related_product.empty? %}
              {%- include 'product-item' with _product: related_product, related_products: true, vanityColors: vanityColors -%}
            {% endunless %}
          {%- endfor -%}
        </div><!-- /.products -->
      </div><!-- /.section__body -->
    </div><!-- /.shell -->
  </section><!-- /.section-related-products -->

{%- endif -%}