<div class="swell-kassa-rewards">
	<div class="banner">
		<img class="swell-mobile" src="{{ 'swell-banner-mbl.png' | asset_url }}">
	</div>
		<div class="caption-content-holder">
			<div class="caption-content">
				<h3 class="banner-header">
					Kassatex Loyalty
				</h3>
				<div class="banner-text">
					As a rewards member, you’ll get closer to
					earning exclusive rewards every time you shop.
				</div>
			</div>
		</div>

	<!-- banner section ends -->
	<div class="how-it-work">
		<div class="yotpo-widget-instance" data-yotpo-instance-id="4113">
		</div>
	</div>
	<!-- how it work section ends -->
	<div class="vip-table-section logged-in">
		<div class="swell-container">
			<h3 class="swell-heading ">VIPs Earn Even More</h3>
			<div class="swell-tier-table ">
				<ul class="swell-tier-table-header">
					<li class="swell-tier-list">
						<div class="tier-list tier-name">Benefits</div>
						<div class="tier-list">Points<br class="swell-mobile"> multiplier</div>
						<div class="tier-list">Tier entry<br class="swell-mobile"> reward</div>
						<div class="tier-list">Free design<br class="swell-mobile"> consultations</div>
					</li>
				</ul>
				<ul class="swell-tier-table-body">
					<li class="swell-tier-list" data-tier-id="3722">
						<div class="tier-list tier-status"></div>
						<div class="tier-list tier-name"> <span>Comfy Status</span></div>
						<div class="tier-list tier-value">$1 - $1000</div>
						<div class="tier-list">1x</div>
						<div class="tier-list"></div>
						<div class="tier-list"><div class="circle"></div></div>
					</li>
					<li class="swell-tier-list" data-tier-id="3723">
						<div class="tier-list tier-status"></div>
						<div class="tier-list tier-name"> <span>Cozy Status</span></div>
						<div class="tier-list tier-value">$1000-$2000</div>
						<div class="tier-list">1.25x</div>
						<div class="tier-list">200 Points</div>
						<div class="tier-list"><div class="circle"></div></div>
					</li>
					<li class="swell-tier-list tier-3" data-tier-id="3724">
						<div class="tier-list tier-status"></div>
						<div class="tier-list tier-name"> <span>Luxe Status</span></div>
						<div class="tier-list tier-value">$2000+</div>
						<div class="tier-list">1.5x</div>
						<div class="tier-list">300 Points</div>
						<div class="tier-list"><div class="circle"></div></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- tier table section ends -->
	<div class="redemptions {%if customer%} logged-in {% endif %}">
		<div class="yotpo-widget-instance" data-yotpo-instance-id="4109">
		</div>
	</div>
	<!-- redemption section ends -->
	<div class="swell-products">
	<div class="yotpo-widget-instance" data-yotpo-instance-id="5737"></div>
</div>
	<div class="ways-to-earn-points">
		<h3 class="swell-heading">
			Ways to Earn Points
		</h3>
		<div class="ways-to-earn-points-holder">
			<div class="campaigns-holder">
				<div class="yotpo-widget-instance" data-yotpo-instance-id="5532">
				</div>
			</div>
			<div class="campaign-image">
				<img src="{{ 'swell-campaign.png' | asset_url }}">
			</div>
		</div>
	</div>
	<!-- campaign section ends -->
	<div class="swell-rewards-refer">
		<div class="swell-refer">
			<div class="yotpo-widget-instance" data-yotpo-instance-id="1336" customer-email-view-input-placeholder='Your email'
			customer-email-view-label-text='Enter your email to get started.'
			referral-views-friends-input-placeholder='enter multiple emails, separated by commas.'
			referral-email-view-label-text='Enter your friend’s email address:'
			on-referral-submit="onReferralSuccess(eventDetails)"
			share-copy-link-text="Copy Link"
			share-link-copied-text="Copied"
			share-facebook-button-text="Facebook"
			share-facebook-messenger-button-text="Messenger"
			share-twitter-button-text="Twitter"></div>
		</div>
	</div>
</div>
