/* ------------------------------------------------------------ *\
  Article
\* ------------------------------------------------------------ */

.article {
  padding: 116px 0 16px;

  .article__inner {
    max-width: 912px;
    margin: 0 auto;
  }

  .article__title {
    margin-bottom: 39px;
    font-family: $font-family-serif;
    line-height: 1.1;
    color: $default-color;
    text-align: center;
    font-weight: 300;
    text-align: center;
  }

  p {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 0.03em;
    font-weight: 300;
  }

  b,
  strong {
    font-weight: 400;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 36px;
  }

  h1 {
    margin-bottom: 32px;
    font-family: $font-family-serif;
    line-height: 1.21;
    letter-spacing: 0;
    color: $default-color;
    font-weight: 300;
  }

  h2 {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.31;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-top: 20px;
  }

  h3 {
    margin-bottom: 43px;
    font-family: $font-family-serif;
    font-size: 36px;
    line-height: 1.25;
    font-weight: 300;
  }

  h4 {
    margin-bottom: 42px;
    font-size: 24px;
    line-height: 1.33;
    font-weight: 300;
    text-transform: uppercase;
  }

  ul {
    margin-bottom: 28px;
    padding-left: 16px;

    li {
      font-size: 18px;
      line-height: 1.44;
      letter-spacing: 0.03em;
      font-weight: 300;
    }
  }

  /* Mobile */

  @media (max-width: #{$responsive-xs}) {
    padding: 71px 0 10px;

    .article__title {
      margin-bottom: 11px;
    }

    p {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 1.36;
    }

    img {
      margin-bottom: 14px;
    }

    h1 {
      margin-bottom: 33px;
      line-height: 1.06;
    }

    h2 {
      margin-bottom: 27px;
    }

    h3 {
      margin-bottom: 33px;
      font-size: 24px;
      line-height: 1.08;
    }

    h4 {
      margin-bottom: 24px;
      font-size: 20px;
      line-height: 1.35;
      letter-spacing: 0.13em;
    }
  }
}
