/* ------------------------------------------------------------ *\
  Breadcrumb
\* ------------------------------------------------------------ */

.breadcrumb {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 19px 10px;
  border-bottom: 1px solid #f5f5f5;
  margin: 0 !important;
  font-family: 'effra', sans-serif;
  font-size: 14px;
  line-height: 2.14;
  text-transform: uppercase;

  .breadcrumb__item {
    display: block;
    color: #3f3f3f;
    opacity: 0.3;
  }

  a {
    text-decoration: none;
  }

  .breadcrumb__item--current {
    opacity: 1;
  }
}
