/* ------------------------------------------------------------ *\
  Collections
\* ------------------------------------------------------------ */

.collections {
  padding-top: 41px;

  .collection {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-bottom: 12px;
    margin: 0 -10px;

    /* Modifiers */
    &--inverse {
      .collection__image {
        order: 2;
      }

      .collection__content {
        order: 1;
      }

      .collection__products {
        order: 3;
      }
    }

    &--page {
      padding-bottom: 40px;

      a.btn--link {
        font-weight: 400;
        font-size: 12px;
        letter-spacing: .2em;
      } 
    }

    &--bg_image {
      position: relative;
      width: 74.6%;
      margin: 0 auto;
      padding-bottom: 0;
      display: block;

      img {
        width: 100%;
      }

      .collection__content {
        position: absolute;
        width: 100%;
        bottom: 25px;
        border: 0;
        margin: 0;

        .collection__title {
          text-transform: uppercase;
          font-size: 44px;
          margin-bottom: 10px;
          font-family: $font-family-vanitas;
          letter-spacing: .7rem;
        }

        .collection__subtitle {
          text-transform: uppercase;
          font-weight: 300;
        }

        a.btn--link {
          padding-right: 0;

          svg {
            display: none;
          }
        } 
      }
    }
  }

  .collection__image {
    width: calc(50% - 20px);
    min-height: 400px;
    margin: 0 10px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .collection__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: calc(50% - 20px);
    padding: 20px;
    border: 1px solid #e1dfdf;
    margin: 0 10px;

    &:first-child {
      width: calc(100% - 20px);
      padding: 40px 0;
      min-height: 400px;
    }

    &--hide_image {
      background-color: #cdccca;

      &:first-child {
        min-height: unset;
      }

      .collection__title {
        font-size: 44px;
        text-transform: uppercase;
        color: #fff;
        font-family: $font-family-vanitas;
        letter-spacing: .7rem;
      }

      .collection__subtitle {
        text-transform: uppercase;
        color: #fff;
        font-weight: 300;
      }

      .btn svg {
        display: none;
      }
    }
  }

  .collection__entry {
    max-width: 600px;
    width: 100%;
    text-align: center;

    p {
      margin-bottom: 48px;
      font-size: 16px;
      line-height: 1.44;
      color: $default-color;
      letter-spacing: 0.02em;
      font-weight: 300;
    }
  }

  .collection__title {
    margin-bottom: 27px;
    font-family: $font-family-serif;
    font-size: 36px;
    line-height: 1.25;
    color: #55565a;
    font-weight: 300;
    letter-spacing: 0.1em;
  }

  .collection__subtitle {
    margin-bottom: 17px;
    font-family: $font-family-serif;
    font-size: 30px;
    line-height: 1.25;
    color: #55565a;
    font-weight: 300;
    letter-spacing: 0.1em;
  }

  .collection__products {
    margin: 12px 0 0;
    width: 100%;
  }

  /* Tablet */
  @media (max-width: #{$responsive-pad}) {
    .collection--bg_image {
      width: 100%;
    }
  }

  /* Mobile */

  @media (max-width: #{$responsive-xs}) {
    padding-top: 15px;

    .collection {
      display: block;
      margin: 0;
    }

    .collection + .collection {
      margin-top: 21px;
    }

    .collection--bg_image {
      width: 100%;

      .collection__content {

        .collection__entry {
          text-align: center;
        }

        .collection__title {
          margin-bottom: 10px;
          font-size: 24px;
        }

        .collection__subtitle {
          margin-bottom: 17px;
          font-size: 14px;
        }
      }
    }

    .collection__image {
      width: 100%;
      min-height: 0;
      padding: 27.856%;
      margin: 0 0 6px;
    }

    .collection__content {
      display: block;
      width: 100%;
      padding: 0;
      border: none;
      margin: 0;

      &:first-child {
        padding: 0;
        min-height: 0;
      }

      &--hide_image {
        &:first-child {
          padding: 40px 0;
          min-height: 0;
          width: 100%;
        }

        .collection__entry {
          text-align: center;
        }

        .collection__title,
        .collection__subtitle {
          margin-bottom: 17px;
          font-size: 24px;
        }

        .collection__subtitle {
          font-size: 14px;
        }
      }
    }

    .collection__entry {
      max-width: none;
      text-align: left;
      padding-bottom: 8px;
      // border-bottom: 1px solid #f3f3f3;
      p {
        margin-bottom: 11px;
        font-size: 14px;
        line-height: 1.36;
        letter-spacing: 0.035em;
      }
    }

    .collection__title {
      margin-bottom: 5px;
      font-family: "Vanitas";
      text-transform: none;
      font-size: 35px;
      font-weight: bold;
      letter-spacing: 0.5px;
    }

    .collection__subtitle {
      font-family: "Vanitas";
      text-transform: none;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 0.5px;
      margin-bottom: 3px
    }

    .collection__products {
      overflow-y: auto;
      white-space: normal;
      display: flex;
      justify-content: space-between;

      .product {
        display: inline-block;
        width: calc(50% - 9px);
        padding-bottom: 18px;
        margin: 0;
        vertical-align: top;
        white-space: normal;
        &.show-more-item {
          .product__image {
            background: #dedcdd;
            color: #656364;
          }
          .product__image-inner {
            text-transform: uppercase;
            font-size: 14px;
            text-align: center;
            letter-spacing: 0.06em;
            span {
              display: block;
              position: absolute;
              top: 50%;
              width: 100%;
              transform: translateY(-50%);
            }
          }
          svg {
            width: 10px;
            height: 10px;
          }
          &:hover {
            .product__image-inner {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      .product__title {
        max-width: none;
        width: 100%;
        margin-bottom: 5px;
      }

      .product__price {
        max-width: none;
        width: 100%;
        margin-bottom: 3px;
        font-size: 12px;
        line-height: 1.33;
      }
    }
  }
}

.collection-toolbar {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-transition: top .2s ease-in-out;
  background: #fff;
  justify-content: space-between;
  overflow: hidden;
  transition: top .2s ease-in-out;
}

.collection-toolbar, 
.collection-toolbar__row {
  display: flex;
  min-height: 72px;
  width: 100%;
}

.collection-toolbar {
  margin-bottom: 15px;
  
  &__rows {
    -ms-flex-wrap: wrap;
    -webkit-transition: margin-top .25s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    transition: margin-top .25s ease-in-out;
    width: 100%;

    &--on {
      margin-top: -72px;
    }
  }

  &__row {
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-transition: opacity .15s ease-in-out;
    align-items: center;
    margin: 0 auto;
    transition: opacity .15s ease-in-out;
  }

  &__label {
    -ms-flex-align: center;
    -ms-flex-negative: 0;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    width: 148px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #101010;
    line-height: 46px;
    align-self: flex-start;
  }

  &__options {
    width: calc(100% - 296px);
    align-self: flex-start;
  }

  &__list {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    &-item {
      list-style: none;
      margin: 5px;
      padding: 0;
    }

    .buttons-images {
      margin: 0 10px;
      padding-top: 2px;

      &__button {
        border: 0;
        border-radius: 50%;
        margin-right: 12px;
        padding: 16px;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        &:before,
        &:after {
          border-radius: 50%;
          content: "";
          display: block;
          position: absolute;
        }

        &:before {
          border: 1px solid rgba(0, 0, 0, .1);
          height: 32px;
          left: 0;
          top: 0;
          width: 32px;
          z-index: 3;
        }

        &:after {
          -webkit-transform: translate(-50%, -50%) scale(0);
          -webkit-transition: -webkit-transform .2s ease-in-out;
          border: 1px solid $default-color;
          height: 38px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale(0);
          transition: -webkit-transform .2s ease-in-out;
          transition: transform .2s ease-in-out;
          transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
          width: 38px;
        }

        &--on:after,
        &:hover:after {
          -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }

  &__filter {
    background: #fff;
    border-radius: 18px;
    border: 1px solid #e1dfdf;
    letter-spacing: 2px;
    font-size: 14px;
    height: 36px;
    min-width: 130px;
    padding: 0 18px;
    text-transform: uppercase;
    -webkit-transition: background-color .2s ease-in-out,color .2s ease-in-out,border-color .2s ease-in-out;
    transition: background-color .2s ease-in-out,color .2s ease-in-out,border-color .2s ease-in-out;

    &--sort {
      min-width: 112px;
    }

    &--on,
    &--reverse {
      background: #e1dfdf;
    }

    &--cancel {
      min-width: 36px;
      padding: 0;
      width: 36px;
      fill: $default-color;
    }

    &:hover {
      background: #e1dfdf;
    }
  }

  &__action {
    -ms-flex-align: center;
    -ms-flex-pack: end;
    -webkit-box-align: center;
    -webkit-box-pack: end;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    width: 148px;
    align-self: flex-start;

    button {
      margin-top: 5px;
    }

    &--mobile {
      display: none;
    }
  }
}

.collection-toolbar__filter {
  border-color: #8a8a8a;
}

.collection-toolbar__rows--on .collection-toolbar__row:nth-child(2) {
  opacity: 1;
  display: flex;
}

.collection-toolbar__row:nth-child(2) {
  opacity: 0;
  display: none;
}

.collection-toolbar__overlay {
    -webkit-overflow-scrolling: touch;
    -webkit-transition: top .25s ease-in-out;
    background: #fff;
    display: none;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    padding: 0 24px;
    position: fixed;
    top: 100%;
    transition: top .25s ease-in-out;
    width: 100%;
    z-index: 10000;
}

.collection-toolbar__overlay--on {
    top: 0;
}

.collection-toolbar__overlay--on .collection-toolbar__overlay__row--actions {
  bottom: 0;
  padding-bottom: 55px;
}

.collection-toolbar__overlay__close {
    background: 0;
    border: 0;
    padding: 0;
    position: absolute;
    right: 12px;
    top: 12px;
}

.collection-toolbar__overlay__title {
    font-size: 26px;
    line-height: 1.1;
    margin: 40px 0 25px;
    font-weight: 400;
}

.collection-toolbar__overlay__title span {
    display: block;
    font-family: merlo, serif;
    font-size: 16px;
}

.collection-toolbar__overlay__rows {
    padding-bottom: 100px;
}

.collection-toolbar__overlay__row {
    border-top: 2px solid rgba(0, 0, 0, .1);
    padding: 24px 0;
}

.collection-toolbar__overlay__row:first-child {
    border-top: 0;
    padding-top: 0;
}

.collection-toolbar__overlay__row--actions {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .05);
    -webkit-transition: bottom .2s ease-in-out;
    background: #fff;
    border-top: 0;
    bottom: -60px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 12px;
    position: fixed;
    transition: bottom .2s ease-in-out;
    width: 100%;
    z-index: 5;
}

.collection-toolbar__overlay__row--actions .collection-toolbar__filter {
    width: calc(50% - 6px);
}

.collection-toolbar__overlay__label {
    font-size: 16px;
    margin: 0 0 7px;
}

.collection-toolbar__overlay .collection-toolbar__list {
    -ms-flex-pack: start;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: start;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -5px;
    text-align: left;
}

.collection-toolbar__overlay .collection-toolbar__list-item {
    margin: 5px;
}

.collection-toolbar__overlay .buttons-images {
    margin-left: 5px;
}

.collection-toolbar__overlay .buttons-images__button {
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .collection-toolbar__filter, 
  .collection-toolbar__filter--sort {
    min-width: 90px;
  }

  .collection-toolbar__filter--filter {
    min-width: 160px;
  }
}

@media (max-width: 767px) {
  .collection-toolbar__list .buttons-images__button {
    &:hover:after {
      -webkit-transform: translate(-50%, -50%) scale(0);
      -webkit-transition: -webkit-transform .2s ease-in-out;
      transform: translate(-50%, -50%) scale(0);
      transition: -webkit-transform .2s ease-in-out;
      transition: transform .2s ease-in-out;
      transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }
  }

  .collection-toolbar__list .buttons-images__button--on {
    &:after,
    &:hover:after  {
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .collection-toolbar__options {
    display: none;
  }

  .collection-toolbar__action {
    width: calc(100% - 148px);
  }

  .collection-toolbar__action--desktop {
    display: none;
  }

  .collection-toolbar__action {
    width: calc(100% - 148px);
  }

  .collection-toolbar__action--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;

    &:last-child {
      justify-content: flex-end;
    }
  }

  .collection-toolbar__filter {
    &:hover {
      background: inherit;
    }
  }

  .collection-toolbar__filter {
    &.collection-toolbar__filter--on {
      &:hover {
        background: #e1dfdf;
      }
    }
  }

  .collection-toolbar__filter--filter {
    min-width: 95%;
  }

  .collection-toolbar__overlay {
      display: block;
  }
}

.list-colors--selected {
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 400
}

.list-colors-available {
	font-size: 13px;
  font-weight: 300
}

#pre-load-products {
  height: 500px;
  display: flex;

  svg {
    margin: 0 auto;
  }
}

.icon-svg-starts {
  height: 18px;
  width: 90px;
}

.product__reviews {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

