/* ------------------------------------------------------------ *\
  Logo
\* ------------------------------------------------------------ */

.logo {
  width: 195px;
  order: 1;
  margin: 4px auto 30px;

  img {
    width: 100%;
    height: auto;
  }
  svg {
    display: inline-block;
    vertical-align: middle;
  }

  /* Tablet Portrait */

  @media (max-width: #{$responsive-sm}) {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 160px;
    height: 38px;
    transform: translateX(-50%);
    order: initial;
    margin: 0;
    
    img {
      width: auto;
      height: 100%;
    }
  }

  // ipad pro included
  @media (max-width: #{$responsive-pad}) {
    margin: 0 auto;
  }

  /* Mobile */

  @media (max-width: #{$responsive-xs}) {
    position: static;
    width: 154px;
    height: auto;
    transform: translateY(0);

    img {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 374px) {
    width: 135px;
  }
}
@media (max-width: #{$responsive-sm}) and (min-width: 768px) {
  .header-checkout .logo {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    transform: none;
  }
}