/* ------------------------------------------------------------ *\
  Widget
\* ------------------------------------------------------------ */

.widget {
  .widget__link {
    font-size: 14px;
    line-height: 1.36;
    color: #8d8b8e;
    letter-spacing: 0.04em;
    text-decoration: none;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  h2 {
    margin-bottom: 53px;
    color: $default-color;
  }

  ul {
    padding-bottom: 19px;
    border-bottom: 1px solid #e1dfdf;
    margin-bottom: 24px;
  }

  /* Mobile */

  @media (max-width: #{$responsive-xs}) {
    text-align: center;

    ul {
      padding: 0;
      margin-bottom: 10px;
      text-align: left;
    }

    > a:not(.widget__link) {
      display: block;
      width: 100%;
      padding: 12px 26px;
      background-color: #f5f5f5;
      font-family: $font-family-serif;
      font-size: 18px;
      letter-spacing: 0.055em;
      text-decoration: none;
      text-align: left;
    }
  }
}
