<section class="faq container">
  <h1 class="faq__heading">FAQs</h1>

  <ul id="acc" class="faq__list">
    {% for block in section.blocks %}
      {% assign b = block.settings %}

      <li class="faq__item">
        <button class="faq__header js-acc-btn">
          <h4>{{ b.faq_question }}</h4>
          <div class="icon">
            <div class="before"></div>
            <div class="after"></div>
          </div>
        </button>
        <div class="faq__copy acc__menu js-acc-menu">
          {{ b.faq_answer }}
        </div>
      </li>
    {% endfor %}
  </ul>
</section>

{% schema %}
{
  "name": "FAQs",
  "settings": [],
  "blocks": [
    {
      "name": "FAQ Item",
      "type": "faq_item",
      "settings": [
        {
          "id": "faq_question",
          "label": "Question",
          "type": "textarea"
        },
        {
          "id": "faq_answer",
          "label": "Answer",
          "type": "richtext"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQs"
    }
  ]
}
{% endschema %}

