
<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/AG6u55frEuWmtg4iGLaMdQ" async></script>
{% if customer and customer.tags contains 'TRADE' %}
  <div class="yotpo-widget-instance" data-yotpo-instance-id="184247"></div>
{% else %}
  <div class="yotpo-widget-instance" data-yotpo-instance-id="233396"></div>
{% endif %}