<div class="page-beach-bags">
  {%- section 'intro-beach-bag-7' -%}
  {%- section 'our-favorites-7' -%}
  {%- section 'common-reviews-7' -%}
  {%- section 'bundle-image-tutorial-7' -%}
  {%- section 'quote-slider-7' -%}
  {%- section 'everywhere-tote-7' -%}
</div>