<div class="page-beach-bags">
  {%- section 'intro-beach-bag-13' -%}
  {%- section 'our-favorites-13' -%}
  {%- section 'common-reviews-13' -%}
  {%- section 'bundle-image-tutorial-13' -%}
  {%- section 'quote-slider-13' -%}
  {%- section 'everywhere-tote-13' -%}
</div>