
<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/AG6u55frEuWmtg4iGLaMdQ" async></script>
{% if customer %}
  {% if customer.tags contains 'TRADE' or customer.tags contains 'swell_vip_trade' %}
    {% comment %}
      {% include 'swell-trade' %}
    {% endcomment %}
    
    <div class="yotpo-widget-instance" data-yotpo-instance-id="184247"></div>
  {% else %}
     <div class="yotpo-widget-instance" data-yotpo-instance-id="168300"></div>
  {% endif %}
{% else %}
  <div class="yotpo-widget-instance" data-yotpo-instance-id="168300"></div>
{% endif %}

{% section 'accordion' %}
