<div class="page-beach-bags">
  {%- section 'intro-beach-bag-2' -%}
  {%- section 'our-favorites-2' -%}
  {%- section 'common-reviews-2' -%}
  {%- section 'bundle-image-tutorial-2' -%}
  {%- section 'quote-slider-2' -%}
  {%- section 'everywhere-tote-2' -%}
</div>