<div class="page-beach-bags">
  {%- section 'intro-beach-bag-4' -%}
  {%- section 'our-favorites-4' -%}
  {%- section 'common-reviews-4' -%}
  {%- section 'bundle-image-tutorial-4' -%}
  {%- section 'quote-slider-4' -%}
  {%- section 'everywhere-tote-4' -%}
</div>