<div class="page-beach-bags">
  {%- section 'intro-beach-bag-3' -%}
  {%- section 'our-favorites-3' -%}
  {%- section 'common-reviews-3' -%}
  {%- section 'bundle-image-tutorial-3' -%}
  {%- section 'quote-slider-3' -%}
  {%- section 'everywhere-tote-3' -%}
</div>