<div class="page-beach-bags">
  {%- section 'intro-beach-bag-6' -%}
  {%- section 'our-favorites-6' -%}
  {%- section 'common-reviews-6' -%}
  {%- section 'bundle-image-tutorial-6' -%}
  {%- section 'quote-slider-6' -%}
  {%- section 'everywhere-tote-6' -%}
</div>