<div class="page-beach-bags">
  {%- section 'intro-beach-bag-10' -%}
  {%- section 'our-favorites-10' -%}
  {%- section 'common-reviews-10' -%}
  {%- section 'bundle-image-tutorial-10' -%}
  {%- section 'quote-slider-10' -%}
  {%- section 'everywhere-tote-10' -%}
</div>