<div class="page-beach-bags">
  {%- section 'intro-beach-bag-5' -%}
  {%- section 'our-favorites-5' -%}
  {%- section 'common-reviews-5' -%}
  {%- section 'bundle-image-tutorial-5' -%}
  {%- section 'quote-slider-5' -%}
  {%- section 'everywhere-tote-5' -%}
</div>