<div class="page-beach-bags">
  {%- section 'intro-beach-bag' -%}
  {%- section 'our-favorites' -%}
  {%- section 'common-reviews' -%}
  {%- section 'bundle-image-tutorial' -%}
  {%- section 'quote-slider' -%}
  {%- section 'everywhere-tote' -%}
</div>