<div class="page-beach-bags">
  {%- section 'intro-beach-bag-14' -%}
  {%- section 'our-favorites-14' -%}
  {%- section 'common-reviews-14' -%}
  {%- section 'bundle-image-tutorial-14' -%}
  {%- section 'quote-slider-14' -%}
  {%- section 'everywhere-tote-14' -%}
</div>