<div class="page-beach-bags">
  {%- section 'intro-beach-bag-12' -%}
  {%- section 'our-favorites-12' -%}
  {%- section 'common-reviews-12' -%}
  {%- section 'bundle-image-tutorial-12' -%}
  {%- section 'quote-slider-12' -%}
  {%- section 'everywhere-tote-12' -%}
</div>