<div class="page-beach-bags">
  {%- section 'intro-beach-bag-11' -%}
  {%- section 'our-favorites-11' -%}
  {%- section 'common-reviews-11' -%}
  {%- section 'bundle-image-tutorial-11' -%}
  {%- section 'quote-slider-11' -%}
  {%- section 'everywhere-tote-11' -%}
</div>