<div class="page-beach-bags">
  {%- section 'intro-beach-bag-8' -%}
  {%- section 'our-favorites-8' -%}
  {%- section 'common-reviews-8' -%}
  {%- section 'bundle-image-tutorial-8' -%}
  {%- section 'quote-slider-8' -%}
  {%- section 'everywhere-tote-8' -%}
</div>