.fabrics {
  padding: 150px 0;
  .fabrics--title {
    margin-bottom: 70px;
    text-align: center;
  }
  .fabrics-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 0 3.5%;
  }
  .fabrics-item--image {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 5%;
    img {
      width: 100%;
    }
  }
  .fabrics-item--title {
    text-align: center;
    margin: 8% 0;
  }
  .fabrics-item--description {
    text-align: center;
    font-family: "Vanitas";
    letter-spacing: .5px;
    font-size: 20px;
    strong, b {
      font-weight: 400;
    }
  }
}
@media (max-width: $responsive-xs) {
  .fabrics {
    padding: 80px 0 0;
    .fabrics--title {
      font-size: 20px;
      margin-bottom: 50px;
    }
    .fabrics-item {
      display: block;
      width: 100%;
      padding-bottom: 80px;
    }
    .fabrics-item--title {
      font-size: 20px;
    }
    .fabrics-item--description {
      font-size: 18px;
    }
  }
}