.difference-page-section-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  line-height: 1.2;
}

// .template-difference {
//   .section-sellers {
//     padding: 80px 0;
//     .tabs .tabs__nav li {
//       a {
//         color: #636363;
//         &::before {
//           content: none;
//         }
//       }
//       &.current {
//         font-weight: 600;
//       }
//     }
//   }
// }